<h2>Test words</h2>
<p>Test yours words knowlege!</p>
<div class="outer">
	<div class="column">
		<div class="tested">{{tested.word}}</div>
		<ul class="variants" *ngFor="let trans of transVar">
			<li (click)="checkWord(trans)" [ngClass]="{'goods': tested.trans === trans && !firstGood}">{{trans}}
				<button class="variant">Да</button>
			</li>
		</ul>
	</div>
	<div class="column">
		<div class="testResult">
			<span>Правильных ответов:  </span><span class="rez goods">{{tested.goodAnswersNum}} </span>
			<span>Ошибочных ответов:  </span><span class="rez bads">{{tested.badAnswersNum}} </span>
			<span>Правильных ответов подряд: </span><span class="rez goods">{{tested.goodLine}}</span> / {{dictService.config.goodLineMax}}
		</div>
	</div>
</div>
<div><button class="next" (click)="nextWord()">Следующее слово</button></div>

