.tested {
	font-size: 1.5rem;
	font-style: italic;
	color: blue;
}
.column {
	border: 1px solid grey;
	padding: 10px;
	border-radius: 3px;
}
.outer {
	display: flex;
}
.rez {font-weight: bold; font-style: normal; font-size: 1.3em;}
.goods {color: green; font-weight: bold;}
.bads {color: red;}
.next {margin-top: 10px;}