<h2>Add new word</h2>
<p>Add new word here:</p>
<input class="form-control" [(ngModel)]="newWord.word" placeholder="Слово" />
<input [(ngModel)]="newWord.trans" placeholder="Перевод" />
<button (click)="addWord(newWord.word, newWord.trans)">AddWord</button>

