<h2>Список слов для изучения</h2>
<div *ngFor="let dict of dictionary">
	<p>({{dict.id}}) : {{dict.word}} - {{dict.trans}}<span [ngClass]="{'learned': dict.learned ==='learned', 'notlearned': dict.learned === 'notlearned'}"> - learned</span></p>
</div>
 <h2>Настройка конфигурации</h2>
<div class="panel">
	<div>
  <label>Количество слов для изучения:
  	<input class="config" [(ngModel)]="config.words"/>
  </label>
  </div>
  <div>
  <label>Способ выборки из списка: </label>
  <select class="form-control" name="selection" [(ngModel)]="config.selection" >
  	<option value='last'>Последние в списке</option>
  	<option value='first'>Первые в списке</option>
  </select>
  </div>
  <div>
  <label>Вариантов ответа вместе с правильным:
  	<input class="config" [(ngModel)]="config.varNum"/>
  </label>
  </div>
  <div>
  <label>Правильных ответов подряд для зачета:
  	<input class="config" [(ngModel)]="config.goodLineMax"/>
  </label>
  </div>
  <button (click)="generateDictionary()">Применить</button>
</div>
<!-- <app-config></app-config> -->