<div style="text-align:center">
  <h2>{{ title }}</h2>
	<h1>Программа для изучения выбранных слов</h1>
</div>
<nav>
	<a routerLink="/dictionary" routerLinkActive="active">Список слов</a>
<!--	<a routerLink="/config" routerLinkActive="active">Настройка</a> -->
	<a routerLink="/add-words" routerLinkActive="active">Добавить слово</a>
	<a routerLink="/test-words" routerLinkActive="active">Тест знаний</a>
</nav>
<router-outlet></router-outlet>
<!-- <app-dictionary></app-dictionary> -->
<!-- <app-config></app-config> -->

