/* You can add global styles to this file, and also import other style files */
h3 {text-transform: uppercase;}
.panel {
	border: 1px solid grey;
	border-radius: 3px;
	padding: 10px;
	background-color: #EAEAEA;
	max-width: 420px;
}
button {
	background-color: white;
	font-weight: bold;
	padding: 5px 15px;
	border-radius: 5px;
}